/*
*   selector {
*        propiedad: valor;
*    }
*
*   *** Tipos de Selectores *****
*   
*   Universal - *
*   de tipo - selecciona por el nombre de la etiqueta del html
*   clases - . + nombre de la clase
*   ID - # + nombre del ID
*   por atributo - [nombre del atributo de la etiqueta = "valor de la etiqueta"]
*   descendiente - etiqueta contenedora + etiqueta que queremos editar
*   pseudo-clases - elemento :hover. (hay mas tipos, por ejemplo: :after, :before)
*/
/*
*   *** ESPECIFICIDAD ***
*   Es la forma en la que podemos cambiar las propiedades sin cambiar las del resto
*   
*   De mayor a menor:
*
*   !important
*   estilos en linea
*   identificadores
*   clases
*   pseudo-clases
*   atributos
*   elementos
*   pseudo-elementos
*/
/*
*   *** METODOLOGÍA ***
*   
*   nombre de la clase + __ + etiqueta + - + etiqueta
*
*       <div class="contact-form">
*           <p class="contact-form__p">
*               <h2 class="contact-form__p-h2"></h2>
*           </p>
*       </div>
*       <div class="subscriber-form">
*           <p class="subscriber-form__p">
*               <h2 class="subscriber-form__p-h2"></h2>
*           </p>
*       </div>
*/
/*
*   *** MEDIDIAS ***
*   Hay 2 uds de medidas: las fijas(todos los dispositivos por igual) y las relativas(para adaptar a todos los tamaños como el del movil o la tablet)
*
*
*   VW = ViewportWidth 100 vw es igual a 100% del ancho
*   VH = ViewportHeight 100 vh es igual a 100% del alto
*
*
*
*
*
*
* 
.contact-form {
    font-size: 25px;
}

.contact-form__h2 {
    font-size: 1em; *relativas serian REM y EM(1 EM sera igual al valor que le demos a la caja contenedora)*
}

*/
/*
*   *** TIPOGRAFÍA ***
*   
*
*
*   
*   
*
*
*
*
*
*
* 
*/
/*
.contact-form {
    font-size: 25px;
}

.contact-form__h2 {
    font-size: 2em; /*relativas serian REM y EM(1 EM sera igual al valor que le demos a la caja contenedora)*
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    font-weight: 200;
    color: red;
}
*/
/*
*   *** Teoria de las cajas ***
*   Hay dos tipos de cajas las que son en linea y las que son en bloque
*   Las cajas en linea cogen todo el ancho de la seccion 
*   Las cajas en bloque solo lo que ocupan, y no se les puede dar height ni width
*   
*   La propiedad display es una ud que te permite cambiar el comportamiento de las cajas
*   
*   *** PROPIEDADES DE CAJAS ***
*   Son las propiedades que modifican o afectan a las cajas o al contorno o al entorno
*
*   *** JERARQUÍA BOX MODEL ***
*   content, el content se modifica con el line-height.
*   padding, se modifica con padding.
*   border, se modifica con border. El border siempre va a estar por fuera del padding.
*   margin, se modifica con margin. El margin esta por fuera del border.
*
*
*
*
*
*/

h2 {
    background-color: red;
    display: inline-block;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    box-shadow: 
     2px/*eje-x*/ 
     4px/*eje-y*/ 
     15px/*Tamaño del desenfoque*/ 
     0/*cuanto borde*/ 
    black /*color sombra*/;
    text-shadow: 
     2px 2px 2px #fff, 
     2px 2px 2px #fff;
    transform: rotate(-45deg);
}

.caja1 {
    background: yellow;
    width: 200px;
    height: 200px;

}
 
.caja2 {
    background: blue;
    width: 200px;
    height: 200px;
    position: relative;
    justify-content: center;
}

.caja3 {
    background: red;
    width: 200px;
    height: 200px;
}

.caja4 {
    background: green;
    width: 200px;
    height: 200px;
}


/*
*
*   *** DISPLAY Y POSITION ***
*
*
*
*/