/*
    Este css es solo para el ejemplo del menu responsive
*/
* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;

}
/*
*   *********RESPONSIVE DESIGN************
*
*   Estructuras Flexibles (Contenedores flexibles, imágenes y videos flexibles)
*   Media Queries
*   
*   @media se usa en consultaas de medios para aplicar diferentes estilos para diferentes tipos / dispositivos de medios
*
*   _ancho y alto de la ventana gráfica
*   _ancho y alto del dispositivo
*   _orientacion (¿la tableta / telefono está en modo vertical u horizontal?)
*   _resolución
*
*       all
*           Apto para todos los dispositivos
*       print
*           Destinado a material impreso y visalización de documentos en una pantalla en el modo de vista precia de impresión
*       screen
*           Destinado principalmente a las pantallas
*       speech
*           Destinado a sintetizadores de voz
*
*   Operadores AND | OR
*
*   Orientaciones: landscape y portrait
*
*
*/
/*
*   ***SINTAXIS***
*   tipo(Screen,print,all...)
*   condicional (AND, OR), se pueden poner varios condicionales
*
*   @media + tipo + condicional + (condicion)
*/

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .main, .aside, .footer{
    padding: 20px;
}

.header {
    background: lightblue;
    flex-basis: 60px;
}

.main {
    background: slateblue;
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
}

.aside {
    background: darkslateblue;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.footer {
    background: violet;
    flex-grow: 1;
}




@media screen and (min-width:700px){
    .content {
        display: grid;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 80px;
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        grid-column: 1 / span 3;
    }

    .main {
        grid-row: 2 / 6;
        grid-column: 1 / span 2;

    }

    .aside {
        grid-row: 2 / 6;

    }

    .footer {
        grid-row: 6 / 7;
        grid-column: 1 / span 3;
    }
}